<!-- <header>
    <nav>
      <img class="logo" src="\img\ford.png" alt="Logo Ford">
      <h1>Olá, {{'usuario'}}</h1>
      <button>Logout</button>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Contato</a></li>
        </ul>
    </nav>
</header> -->

<div class="side-nav">
  <header>
    <img class="logo" src="/img/ford.png" alt="Logo Ford">
    <h1>Olá, {{ 'usuario' }}</h1>
  </header>
  <nav>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Dashboard</a></li>
      <li><a href="#">Contato</a></li>
    </ul>
  </nav>
  <button (click)="logout()" class="logout-btn">Logout</button>
</div>
