<main>
  <section>
    <app-cabecalho></app-cabecalho>
  </section>
  <h1>Boas-vindas</h1>
  <!-- <section class="container">
        <p>Por favor, faça login para continuar.</p>
        <input type="text" placeholder="Usuário">
        <input type="password" placeholder="Senha">
        <button type="submit">Entrar</button>
        <p>Esqueci minha senha</p>
        <p>Não tem uma conta? <a href="#">Registrar</a></p>
    </section> -->
  <!-- filepath: src/app/login/login.component.html -->
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-4">

        <form (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="email" class="form-label">email</label>
            <input
              type="email"
              id="email"
              [(ngModel)]="email"
              name="email"
              class="form-control"
              required
            />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">senha</label>
            <input
              type="password"
              id="password"
              [(ngModel)]="password"
              name="password"
              class="form-control"
              required
            />
          </div>
          <button type="submit" class="btn btn-primary w-100">Login</button>
        </form>
      </div>
    </div>
  </div>
</main>
