<main>
  <section>
    <app-cabecalho></app-cabecalho>
  </section>
  <h1>Boas-vindas</h1>

  <div class="container mt-7">
    <div class="row justify-content-center">
      <div class="col-md-4">

        <form (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="email" class="form-label" ></label>
            <input
              placeholder="Digite seu email"
              type="email"
              id="email"
              [(ngModel)]="inputEmail"
              name="email"
              class="form-control"
              required
            />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label" ></label>
            <input
              placeholder="Digite sua senha"
              type="password"
              id="password"
              [(ngModel)]="inputPassword"
              name="password"
              class="form-control"
              required
            />
          </div>
          <button type="submit" class="btn btn-primary w-100" >Login</button>
          <!-- <button
                  class="btn btn-outline-secondary"
                  type="button"
                  (click)="(password)"
                  [attr.aria-label]="password ? 'Ocultar senha' : 'Mostrar senha'"
                  [attr.title]="password ? 'Ocultar senha' : 'Mostrar senha'"
                >
                  <i class="bi" [ngClass]="password ? 'bi-eye-slash' : 'bi-eye'"></i>
          </button> -->
          <div class="mb-3 form-check">
            <input
              type="checkbox"
              class="form-check-input"
              id="rememberMe"
              [(ngModel)]="inputEmail"
              [ngModelOptions]="{standalone: true}"
              onchange="onCheckboxChange($event)"
            >
            <label class="form-check-label" for="rememberMe">Logar automaticamente</label>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
