
<header>
  <!-- <app-scroll-nav-bar></app-scroll-nav-bar> -->
</header>
<main>
  <h1>Dashboard FORD</h1>
  <section>
    <input type="text" placeholder="Buscar" class="input-veiculo" id="input-veiculo">
    <button class="btn-search">Buscar</button>
    <img class="img-dashboard" src="/img/broncoSport.png" alt="Ford-broncoSport">
    <img class="img-dashboard" src="/img/mustang.png" alt="Ford-mustang">
    <img class="img-dashboard" src="/img/territory.png" alt="Ford-territory">
  </section>
<main>
