

  <app-scroll-nav-bar></app-scroll-nav-bar>
  
  <!-- <div class="card" style="width: 18rem;">
    <div class="card-body">
    <h5 class="card-title">Total de Vendas</h5>
    <p class="card-text" *ngIf="!mostrarImagem" >***********</p>
    <p class="card-text" *ngIf="mostrarImagem"> {{ volumeVendas }}</p>
  </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
    <h5 class="card-title">Conectados</h5>
    <p class="card-text" *ngIf="!mostrarImagem" >***********</p>
    <p class="card-text" *ngIf="mostrarImagem">{{ veiculosConectados }}</p>
  </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
    <h5 class="card-title">Update Software</h5>
    <p class="card-text" *ngIf="!mostrarImagem" >***********</p>
    <p *ngIf="mostrarImagem">{{ veiculosUpdates }}</p>
  </div>
  </div> -->

  <div class="row">
    <div class="col-sm-4 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Total de Vendas</h5>
          <p class="card-text" *ngIf="!mostrarImagem" >***********</p>
          <p class="card-text" *ngIf="mostrarImagem"> {{ volumeVendas }}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Conectados</h5>
          <p class="card-text" *ngIf="!mostrarImagem" >***********</p>
          <p class="card-text" *ngIf="mostrarImagem">{{ veiculosConectados }}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Update Sotware</h5>
          <p class="card-text" *ngIf="!mostrarImagem" >***********</p>
          <p class="card-text" *ngIf="mostrarImagem">{{ veiculosUpdates }}</p>
        </div>
      </div>
    </div>
  </div>





  
  





  <section>
    <!-- <input [ngModel]="inputVeiculo" type="text" placeholder="Buscar" class="input-veiculo" id="input-veiculo" > -->

    <!-- <input type="text" placeholder="Buscar" class="input-veiculo" id="input-veiculo" [ngModel]="inputVeiculo" (ngModelChange)="inputVeiculo = $event" /> -->
    <select
      class="select-veiculo"
      id="select-veiculo"
      [ngModel]="inputVeiculo"
      (ngModelChange)="mostrarImagem = false; inputVeiculo = $event"
    >
      <option value="" disabled selected>Veículo</option>
      <option value="Ranger">Ranger</option>
      <option value="Mustang">Mustang</option>
      <option value="Territory">Territory</option>
      <option value="Bronco Sport">Bronco Sport</option>
    </select>
    <button class="btn-search" (click)="verificarInput()">Buscar</button>
    <!-- <button **ngIf="select-veiculo" class="btn-search" click="verificarInput()" >Buscar</button> -->
    <img
      *ngIf="mostrarImagem && inputVeiculo === 'Mustang'"
      class="img-dashboard"
      src="/img/mustang.png"
      alt="Ford Mustang"
    />
    <img
      *ngIf="mostrarImagem && inputVeiculo === 'Territory'"
      class="img-dashboard"
      src="/img/territory.png"
      alt="Ford Territory"
    />
    <img
      *ngIf="mostrarImagem && inputVeiculo === 'Bronco Sport'"
      class="img-dashboard"
      src="/img/broncoSport.png"
      alt="Ford Bronco Sport"
    />
    <img
      *ngIf="mostrarImagem && inputVeiculo === 'Ranger'"
      class="img-dashboard"
      src="/img/ranger.png"
      alt="Ford Ranger"
    />
  </section>



<!-- <h2>Informações do Veículo</h2> -->
  <!-- <div class="card">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
    <button class="btn btn-outline-success" type="submit">Search</button>
    <p>Código Vin:</p>
    <p *ngIf="mostrarImagem">{{ veiculoVin }}</p>
    <p>Odômetro:</p>
    <p *ngIf="mostrarImagem">{{ veiculoOdometro }}</p>
    <p>Nível Combustível:</p>
    <p *ngIf="mostrarImagem">{{ veiculoCombustivel }}</p>
    <p>Status:</p>
    <p *ngIf="mostrarImagem">{{ veiculoStatus }}</p>
    <p>Latitude:</p>
    <p *ngIf="mostrarImagem">{{ veiculoLatitude}}</p>
    <p>Longitude:</p>
    <p *ngIf="mostrarImagem">{{ veiculoLongitude }}</p>
    
    

    </div> -->