<header>
  <h1>Dashboard FORD</h1>
  <div class="main-menu-content">
    <ul>
      <li class="more-details" >
        <a ><i class="ti-user"></i>View Profile</a>
        <a ><i class="ti-settings"></i>Settings</a>
        <a ><i class="ti-layout-sidebar-left"></i>Logout</a>
      </li>
    </ul>
  </div>
  <app-scroll-nav-bar></app-scroll-nav-bar>
</header>
<main>

  <section>
    <!-- <input [ngModel]="inputVeiculo" type="text" placeholder="Buscar" class="input-veiculo" id="input-veiculo" > -->

    <!-- <input type="text" placeholder="Buscar" class="input-veiculo" id="input-veiculo" [ngModel]="inputVeiculo" (ngModelChange)="inputVeiculo = $event" /> -->
    <select
      class="select-veiculo"
      id="select-veiculo"
      [ngModel]="inputVeiculo"
      (ngModelChange)="mostrarImagem = false; inputVeiculo = $event"
    >
      <option value="" disabled selected>Veículo</option>
      <option value="Ranger">Ranger</option>
      <option value="Mustang">Mustang</option>
      <option value="Territory">Territory</option>
      <option value="Bronco Sport">Bronco Sport</option>
      <option value="F-150">F-150</option>
      <option value="Explorer">Explorer</option>
      <option value="Edge">Edge</option>
    </select>
    <button class="btn-search" (click)="verificarInput()">Buscar</button>
    <!-- <button **ngIf="select-veiculo" class="btn-search" click="verificarInput()" >Buscar</button> -->
    <img
      *ngIf="mostrarImagem && inputVeiculo === 'Mustang'"
      class="img-dashboard"
      src="/img/mustang.png"
      alt="Ford Mustang"
    />
    <img
      *ngIf="mostrarImagem && inputVeiculo === 'Territory'"
      class="img-dashboard"
      src="/img/territory.png"
      alt="Ford Territory"
    />
    <img
      *ngIf="mostrarImagem && inputVeiculo === 'Bronco Sport'"
      class="img-dashboard"
      src="/img/broncoSport.png"
      alt="Ford Bronco Sport"
    />
    <img
      *ngIf="mostrarImagem && inputVeiculo === 'Ranger'"
      class="img-dashboard"
      src="/img/ranger.png"
      alt="Ford Ranger"
    />
    <img
      *ngIf="mostrarImagem && inputVeiculo === 'Explorer'"
      class="img-dashboard"
      src="https://vehicle-images.dealerinspire.com/stock-images/ford/42af4cea2c34e4a0a57ca2438925f53a.png"
      alt="Explorer"
    />
  </section>

  <!-- <h2>Informações do Veículo</h2> -->
  <div class="card">
    <!-- <h3>Modelo: {{inputVeiculo}}</h3> -->
    <p>Total de Vendas:</p>
    <p *ngIf="mostrarImagem">{{ volumeVendas }}</p>
    <p>Conectados:</p>
    <p *ngIf="mostrarImagem">{{ veiculosConectados }}</p>
    <p>Update Software:</p>
    <p *ngIf="mostrarImagem">{{ veiculosUpdates }}</p>
    <p>Código Vin:</p>
    <p *ngIf="mostrarImagem">{{ veiculoVin }}</p>
    <p>Odômetro:</p>
    <p *ngIf="mostrarImagem">{{ veiculoOdometro }}</p>
    <p>Nível Combustível:</p>
    <p *ngIf="mostrarImagem">{{ veiculoCombustivel }}</p>
    <p>Status:</p>
    <p *ngIf="mostrarImagem">{{ veiculoStatus }}</p>
    <p>Latitude:</p>
    <p *ngIf="mostrarImagem">{{ veiculoLatitude}}</p>
    <p>Longitude:</p>
    <p *ngIf="mostrarImagem">{{ veiculoLongitude }}</p>


    </div>




</main>
