.container-principal{
    display: flex;
    flex-direction: row;
    height: 100dvh;
    align-items: center;
    justify-content: center;
}

section{
    flex: 1;
    max-width: 50%;
}

.img-fundo{
    width: 100%;
}